<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>add</title>
    <style>
   .panel {
    background: #06404d; /* Цвет фона */
    color: #f0f8ff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    text-align: justify; /* Выравнивание по ширине */
   }
  </style>
</head>
<body>
<div class="panel">
    <p>User
    <a>|</a>
    <a href='/' style="color: aliceblue">Логаут</a></p>
</div>
    <p><a href='/gallery'>Назад к списку</a>
    <H1>Новое изображение</H1>
    <form method='post' enctype='multipart/form-data'>
        <p>Ссылка<br><input type='text' size='25' name='link'>
        <p>Файл<br><input type='file' name='myfile'>
        <p><input type='submit' value='Отправить'></form>
        {% block add %}
        {% endblock add %}
</body>
</html>
