<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <style>
   .panel {
    background: #06404d; /* Цвет фона */
    /*color: #f0f8ff; !* Цвет текста *!*/
    padding: 25px; /* Поля вокруг текста */
    text-align: justify; /* Выравнивание по ширине */
   }
  </style>
</head>
<body>
<div class="panel">
    <a href='/register' style="color: aliceblue">Регистрация</a>
    <a style="color: aliceblue">|</a>
    <a href='/login' style="color: aliceblue">Вход</a>

</div>
    <H1>Шакальня</H1>
    <a href='/gallery'>Галерея</a>
</body>
</html>